<%= form_for([@project, @project.tasks.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :process %><br />
    <%= f.text_field :process %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
